---
import { languages } from "@translate/dictionary";
import { Icon } from "astro-icon/components";

const currentPath = Astro.url.pathname.substring(4);
---

{
  Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/${currentPath}`}>{label}</a>
    </li>
  ))
}
