---
import type { FontType } from "@type/ui-types";

interface Props {
  text: string;
  fontType?: FontType;
  color?: string;
}

const { text, fontType = "bold", color = "text-pink" } = Astro.props;
---

<h2
  class={`font-sans text-[32px] ${color} ${fontType === "bold" ? "font-bold" : "font-normal"} lg:text-[48px]`}
>
  {text}
</h2>
