@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
  /* colors */
  --black: #0c0c0c;
  --dark-gray: #141414;
  --bkg-dracula: #22212c;
}

body {
  background-color: var(--dark-gray);
  max-width: 2000px;
  margin: auto;
}

.title-font {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.875rem;
}

.caption-font {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
}

@media screen and (min-width: 1360px) {
  .title-font {
    font-size: 3.75rem;
  }
  .caption-font {
    font-size: 1.5rem;
  }
}
