---
import Layout from "@layouts/Layout.astro";
import SmallBio from "@components/home/SmallBio.astro";
import LatestPosts from "@components/home/LatestPosts.astro";
import Line from "@components/ui/line/Line.astro";
---

<Layout>
  <div class="flex flex-col gap-14 mb-8">
    <SmallBio />
    <Line />
    <LatestPosts />
  </div>
</Layout>
