---
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
import CardNewsletter from "../components/CardNewsletter.astro";
import SocialMediaLinks from "../components/SocialMediaLinks.astro";
import ImageFooter from "../components/ImageFooter.astro";
---

<BaseLayout
  title="unicornio.dev"
  description="Un sitio web orientado a brindar acompañamiento y contenidos de valor a personas que están aprendiendo a programar."
  imgUrl="public/img-preview-meta-tags.png"
>
  <main>
    <About />
    <CardNewsletter />
    <SocialMediaLinks />
    <ImageFooter />
  </main>
</BaseLayout>
