---
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
---

<BaseLayout title="unicornio.dev - Homepage">
  <main>
    <About />
  </main>
</BaseLayout>
