---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section>
  <div class="cta-item--container">
    <h3 class="drac-heading drac-heading-lg drac-text-black">{title}</h3>
    <p class="drac-text drac-text-black">{description}</p>
  </div>
</section>

<style>
  .cta-item--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 1.5rem;
  }
</style>
