---
import { Icon } from "astro-icon";
---

<nav class="navbar">
  <div class="navbar--container">
    <a
      href="/"
      class="navbar--logo-anchor"
      title="Ir a Home"
      aria-label="Link a Home"
      aria-describedby="Ir a Home"
      ><Icon name="Logo" width={150} class="logo" />
    </a>
  </div>
</nav>

<style>
  .navbar--container {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    height: 4rem;
    border-bottom: 5px solid var(--bkg-dracula);
  }

  .navbar--logo-anchor {
    display: flex;
    justify-content: center;
  }

  .navbar--logo-anchor:hover {
    transform: scale(1.05);
  }

  @media (min-width: 1360px) {
    .navbar--container {
      height: 5rem;
    }
    .logo {
      width: 190px;
    }
  }
</style>
