---
import { Image } from "@astrojs/image/components";
import florIcon from "../assets/flor-icon.png";

const { text } = Astro.props;
---

<section>
  <div class="thanks--container">
    <Image src={florIcon} alt="Ãcono flor" width="190" height="190" />
    <h1
      class="thanks--title drac-heading drac-heading-2xl drac-text-purple drac-text-center"
    >
      {text}
    </h1>
  </div>
</section>

<!-- Styles -->

<style>
  .thanks--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 500px;
    margin: 4rem auto;
  }

  @media screen and (max-width: 541px) {
    .thanks--title {
      font-size: 30px;
      max-width: 340px;
    }
  }

  @media screen and (max-width: 281px) {
    .thanks--title {
      font-size: 24px;
    }
  }
</style>
