---
import type { GetStaticPaths } from "astro";
import type { Lang } from "@translate/dictionary";
import { useTranslations } from "@translate/utils/i18n-utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { englishTechTalks, spanishTechTalks } from "@data/techTalksData";
import Heading1 from "@components/ui/text-components/Heading1.astro";
import TalksCard from "@components/talks/talks-card/TalksCard.astro";
import Line from "@components/ui/line/Line.astro";

export const getStaticPaths = (() => {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}) satisfies GetStaticPaths;

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
---

<BaseLayout>
  <Heading1 color="text-white">{t("talks.title")}</Heading1>
  <Line />
  <div class="grid grid-cols-1 gap-14 mb-14">
    {
      lang == "es"
        ? spanishTechTalks.map((talk) => <TalksCard {talk} />)
        : englishTechTalks.map((talk) => <TalksCard {talk} />)
    }
  </div>
</BaseLayout>
