---
import type { Lang } from "@translate/dictionary";

const lang = Astro.currentLocale as Lang;
---

<a
  href={`/${lang}/`}
  class="flex flex-col items-center py-6 border-b-[0.5px] border-gray-100 lg:items-start lg:w-full lg:ms-10 lg:border-b-0"
>
  <span class="text-pink font-bold font-mono text-lg">Florencia Luz Duarte</span
  >
  <span class="text-white font-mono">@unicornio.dev</span>
</a>
