---
import NavbarLogo from "./NavbarLogo.astro";
import NavbarLinks from "./NavbarLinks.astro";
import LanguagePicker from "../language-picker/LanguagePicker.astro";
import Line from "../line/Line.astro";
---

<nav class="mx-6">
  <NavbarLogo />
  <Line />
  <div class="m-3"><NavbarLinks /></div>
  <Line />
  <LanguagePicker />
</nav>
