---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { formatDateByLang } from "src/utils/formatDateByLang";

export async function getStaticPaths() {
  const tutorials = await getCollection("tutorials");
  const paths = tutorials.map((tutorial: any) => {
    const [lang, ...slug] = tutorial.slug.split("/");
    return {
      params: {
        lang: lang,
        slug: slug.join("/") || undefined,
      },
      props: tutorial,
    };
  });
  return paths;
}

const { lang } = Astro.params;
const tutorial = Astro.props;
const formattedDateByLang = formatDateByLang(tutorial, lang);
const { Content } = await tutorial.render();
---

<BaseLayout>
  <h1>{tutorial.data.title}</h1>
  <p>{formattedDateByLang}</p>
  <Image
    src={tutorial.data.image.src}
    alt={tutorial.data.image.alt}
    width={1000}
    height={300}
  />
  <Content />
</BaseLayout>
