---
import { getCollection } from "astro:content";
import { formatDateByLang } from "src/utils/formatDateByLang";

export async function getStaticPaths() {
  const pages = await getCollection("blog");
  const paths = pages.map((page: any) => {
    const [lang, ...slug] = page.slug.split("/");
    return {
      params: {
        lang: lang,
        slug: slug.join("/") || undefined,
      },
      props: page,
    };
  });
  return paths;
}

const { lang } = Astro.params;
const page = Astro.props;
const formattedDate = formatDateByLang(page, lang);
const { Content } = await page.render();
---

<h1>{page.data.title}</h1>
<p>{formattedDate}</p>
<Content />
